RewriteEngine On

<IfModule mod_php.c>
    php_value session.name LABORATSESSID
    php_value session.cookie_path /
    php_value session.cookie_httponly 1
</IfModule>

<IfModule php_module>
    php_value session.name LABORATSESSID
    php_value session.cookie_path /
    php_value session.cookie_httponly 1
</IfModule>

RewriteRule ^telescope$ ./debug-monitor.php [L,QSA]
RewriteRule ^telescope/requests$ ./debug-monitor.php?type=request [L,QSA]
RewriteRule ^telescope/exceptions$ ./debug-monitor.php?type=error [L,QSA]
RewriteRule ^telescope/errors$ ./debug-monitor.php?type=error [L,QSA]

RewriteRule ^login$ login.php [L]
RewriteRule ^login$ index.php [L]
RewriteRule ^lockscreen$ lockscreen.php [L]
RewriteRule ^logout$ login.php?act=logout [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index1.php?p=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index1.php?p=$1 [L]

RewriteCond %{REQUEST_URI} ^/socket/ [NC]
RewriteRule ^(.*)$ http://10.0.0.121:3000/$1 [P,L]

Options All -Indexes
